<!DOCTYPE html>
<html>
<head>
    <title>Barangay Clearance System</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <h1>Welcome to Barangay Clearance and Permit Issuance System</h1>
    <a href="/login">Login</a>
</body>
</html>
